body {

}

.wrapper {
    width: 920px;

    padding-top: 17px;
    margin-left: 44px;
    margin-right: 46px;
    margin: auto;
}

.flex {
    height: 29px;
    width: 100%;

    padding-left: 9px;

    display: inline-flex;
}

.flex address p {

    padding-left: 25px;
    padding-bottom: 1px;

    letter-spacing: 0.5px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: #5e696d;
}

.flex address:before {
    width: 21px;
    height: 29px;
    content: " ";
    position: absolute;

    top: 20px;
    line-height: 29px;
    background: url("../img/telephone.png") no-repeat;
}

.login__menu {
    width: 495px;
    height: 21px;

    display: inline-flex;

    padding-top: 3px;
    margin-left: 16px;


    background: url("../img/login__menu__gradient.png");
    border-radius: 3px;
    font-family: "Lucida Sans Unicode",sans-serif, Arial;
    font-size: 11px;
}

.login__menu img {
    width: 14px;
    height: 18px;

    margin-right: 2px;
    padding-left: 6px;
}

.login__menu input {
    width: 110px;
    height: 14px;

    padding-left: 5px;

    font-size: 10.91px;
    border: 1px;
    border-radius: 1px;
}

.login__menu input:first-child {
    margin-right: 4px;
}

.login__menu form {
    padding-right: 8px;
}

.login__menu .v__line {
    width: 0px;
    height: 10px;

    margin-left: 2px;
    margin-right: 4px;
    margin-top: 4px;


    border-left: 1px solid #4c6f89;
    border-right: 1px solid #d3d8de;
}

.menu {
    display: inline-flex;
    justify-content: space-between;
}

.login__menu a {
    color: #ffffff;

    line-height: 16px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif, Arial;
    text-decoration: none;
}

.login__menu .forget__password {

    padding-left: 20px;

    color: #bfbfbf;
    text-decoration: underline;

    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
}

header .nav {
    width: 75px;
    height: 18px;

    margin-left: 15px;

    background: url("../img/navigation.png") no-repeat center;
    background-position: 8px 2px;
    border: 1px solid #bfbfbf;
    border-radius: 25px;
}

header .logo {
    padding-top: 6px;
    margin-left: 2px;
}

header .menu {
    height: 32px;
    width: 100%;
    display: inline-flex;

    margin-top: 3px;
    margin-left: 2px;

    background: url(../img/menu__gradient.png);
    border: 1px solid #2c345a;
    border-radius: 6px;
    color: #b1bcc0;

}

header .menu {
    display: inline-flex;
    width: 99%;
    /*justify-content: space-around;*/
}

header .menu nav {
    width: 70%;

    margin-left: -4px;
    display: inline-flex;
    /*justify-content: space-between;*/
}

header .menu nav a {

    padding-top: 2px;
    padding-left: 30px;

    color: #b1bcc0;
    text-decoration: none;
    line-height: 32px;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;

}

header .menu nav a:first-child {
    margin-left: 120px;
}

header .menu nav a:last-child {
    padding-left: 25px;
}

header .menu .buy {
    display: inline-flex;
    justify-content: flex-end;
    position: relative;

    padding-right: 12px;

    font-family: Arial, sans-serif;
}

header .menu .buy p {
    line-height: 32px;
    padding-left: 4px;
    padding-right: 3px;
    font-size: 11px;
}

header .menu .buy p:first-child {
    padding-right: 4px;
    padding-left: 1px;
}

header .menu .buy p:first-child:before {
    width: 20px;
    height: 32px;
    position: absolute;
    content: ' ';

    top: 0px;
    left: -24px;

    background: url("../img/basket.png") no-repeat center;
    line-height: 32px;
}

header .menu .buy .numbers {
    padding-right: 4px;
    padding-left: 10px;
    /*color: #0f4c77;*/
    font-size: 12px;
    color: #fff;
}

header .menu .buy .numbers p:first-child {
    padding-right: 12px;
}

.form__wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

.stroke {
    display: flex;
    flex-direction: column;

    border: 2px solid #a4a4a5;
    border-radius: 20px;
}

.group__name {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    /*margin-bottom: 9px;*/
}

.group__name :first-child {
    margin-top: 2px;
}

.search__form__wrapper {
    display: inline-flex;
    justify-content: space-between;
}

.search__form__column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search__form__column__select {
    width: 102px;
}

.search__form {
    display: inline-flex;
}

.form__wrapper .wrapper__search__btn {
    display: flex;
    justify-content: flex-end;
}

.menu__font {
    color: #154467;
}

.form__wrapper p {
    font-size: 10px;
}

.form__wrapper span {
    font-size: 8px;
}

.main__cat {
    font-weight: bold;
    font-size: 12px;
}

.cat__search {
    font-weight: bold;
    font-size: 10px;
}

.search__btn {
    font-style: italic;
    font-size: 14px;
}

.stroke span {
    color: #77858b;
}

.select__102 {
    width: 102px;
}

.select__year {
    width: 56px;
}

.select__102,
.select__year {
    border-top: 2px solid #9f9f9f;
    border-left: 2px solid #9f9f9f;
    margin-top: 4px;
}

.section1 {
    width: 391px;
    height: 135px;

    padding-left: 17px;
    padding-right: 13px;
    margin: 5px 0px 5px 5px;
}

.section2 {
    width: 195px;
    height: 135px;

    padding-left: 8px;
    padding-right: 20px;
    margin: 5px 10px;
}

.section3 {
    width: 268px;
    height: 135px;

    padding-left: 8px;
    padding-right: 20px;
    margin: 5px 5px 5px 0px;
}

.section-shadow {
    box-shadow: 2px 2px 2px #5d5d5d;

}

.span__text {
    margin-top: -10px;
}

.size__form {
    display: inline-flex;
}

.select__52 {
    width: 52px;
}

.select__45 {
    width: 45px;
}

.select__52,
.select__45 {
    margin-left: 8px;
}

.select__60 {
    width: 60px;
}

.text__margin {
    margin-left: 8px;
}

.r__margin {
    margin-left: 37px;
}

.season__margin {
    margin-right: 12px;
}

.disk__prop {
    width: 68px;
    line-height: 7px;
}

.disk__prop {
    line-height: 9px;
}

.dco {
    width: 80px;
    margin-left: 60px;
}

.left__menu {
    display: inline-flex;
    justify-content: flex-start;
}

.left__menu__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;

    vertical-align: middle;
    font-size: 13px;
    color: #114165;
}

.center__content {
    margin-top: 14px;
}

.content img {
    margin-right: 4px;
}

.catalog__of__production {
    width: 184px;
    height: 26px;


    display: inline-flex;
    border: 1px solid #3a5467;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #3a5467;
}

.catalog__of__production p {
    margin-top: 6px;
}

.category__of__production {
    width: 150px
}

.center__content {
    width: 525px;
    height: 628px;

    background-color: #a9b8bf;
}

.center__figure__inline__block {
    display: inline-block;
    margin: 20px 15px 25px 15px;

    text-align: center;
    font-family: Arial;
}

.wheel__name {
    font-size: 14.5px;
    color: #427993;
    font-weight: bold;
}

.wheel__property {
    font-size: 12.5px;
    color: #41474a;
}

.wheel__price {
    font-size: 16px;
    color: #114165;
    font-weight: bold;
}

.sidebar ul {
    margin: 10px 0;
}

.sidebar li {
    margin-left: 35px;
    line-height: 14px;
}

.sidebar li::before {
    position: absolute;

    content: "";
    width: 8px;
    height: 8px;
    left:  240px;

    margin-top: 2px;
    background: url("../img/pre-li.png");
}

.sidebar li:hover {
    font-size: 16px;
    text-decoration: underline;
    color: #0c3256;
}

.sidebar li:hover::before {
    background: url("../img/hover-pre-li.png");
}

.main__catalog {
    margin: 15px 0;
}

.brands {
    line-height: 20px;
    margin-left: 10px;
}

.button__right__sidebar {
    width: 82px;
    height: 26px;

    margin-top: 10px;
    margin-left: 10px;

    font-size: 12px;
    border: 1px solid #13486b;
    border-radius: 30px;
    color: #fff;
    background: #13486b;
}

.bus__brands img {
    margin: 20px 120px 20px 120px;
}

footer {
    width: 820px;
    height: 100px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    background: #213a4d;
}

footer nav {
    display: inline-flex;
    margin-left: 250px;
}

footer nav li {
    font-family: Arial, sans-serif;
    font-size: 12px;
    list-style: none;

    color: #b8c0c5;
    margin: 10px 10px 10px 10px;
}

footer p {
    color: #a9644f;
    margin: 0 auto;

    font-size: 12px;
}